<ul>
  <%= call_hook(:view_customers_context_menu_start, {:customers => @customers, :can => @can, :back => @back }) %>

  <% if @customer -%>
    <li><%= context_menu_link l(:button_edit), edit_customer_path(@customer),
            :class => 'icon-edit', :disabled => !@can[:edit] %></li>
  <% else %>


  <% end %>










  
</ul>
