<ul>
  <%= call_hook(:view_customers_context_menu_start, {:customers => @customers, :can => @can, :back => @back }) %>

  <% if @customer -%>
    <li><%= context_menu_link l(:button_edit), edit_customer_path(@customer),
            :class => 'icon-edit', :disabled => !@can[:edit] %></li>
  <% else %>


  <% end %>




  <li><%= context_menu_link l(:button_delete), customers_path(:ids => @customer_ids, :back_url => @back),
                            :method => :delete, :data => {:confirm => t('text_are_you_sure')}, :class => 'icon-del', :disabled => !@can[:delete] %></li>

  <%= call_hook(:view_customers_context_menu_end, {:customers => @customers, :can => @can, :back => @back }) %>
</ul>
